<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>秋色</title>
    <link rel="stylesheet" href="static/css/style2.css">
</head>
<body>
    <header>
        <h1>秋色</h1>
    </header>
    <main>
        <div class="detail-container">
            <img src="static/images/image2.jpg" alt="乱针绣作品2">
            <h2>秋色</h2>
            <p>作品《秋色》，约100X160CM。秋天的色彩总让人陶醉，仿佛身临童话般世界。经此地，你会驻足，你会惊叹大自然的美丽，你会张开双臂拥抱这秋的味道。大画幅的设计使得观赏这幅作品时有种身临其境之感。“万山红遍层林尽染”，物体的形色在乱针的表现下更显得魅力无比。针线的粗细对比运用很好地表现了林子的空间感；枝叶的细致刻画很好地表现的秋林的质感；色彩的准确运用很好地表现的光彩绚烂的秋色。此地此景，可游，可居也!</p>
            <a href="/">返回首页</a>
        </div>
    </main>
</body>
</html>
