<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>向日葵</title>
    <link rel="stylesheet" href="static/css/style2.css">
</head>
<body>
    <header>
        <h1>向日葵</h1>
    </header>
    <main>
        <div class="detail-container">
            <img src="static/images/image4.jpg" alt="乱针绣作品3">
            <h2>向日葵</h2>
            <p>作品《向日葵》，约55X76CM，印象派大师莫奈的少数静物作品之一。此幅画用笔用色灵活生动，以科学的方法分析的阳光下物体的色彩表现，再以“印象”而记之。乱针绣的一些表现技巧恰恰适合来表现这类题材的作品，用层层叠加色彩法使画面色彩丰富；以多方向的用线来表现原作的笔触感，整幅刺绣作品有中厚重感，把乱针刺绣的用色运针发挥得淋漓尽致。</p>
            <a href="/">返回首页</a>
        </div>
    </main>
</body>
</html>
