<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黄山云海</title>
    <link rel="stylesheet" href="static/css/style2.css">
</head>
<body>
    <header>
        <h1>黄山云海</h1>
    </header>
    <main>
        <div class="detail-container">
            <img src="static/images/image1.jpg" alt="乱针绣作品1">
            <h2>黄山云海</h2>
            <p>作品《黄山云海》，约100X200CM·自古以来黄山是艺术家创作不尽的素材来源，尤其是表现黄山云海的艺术作品不计其数。“五岳归来不看山、黄山归来不看岳”，黄山以其秀丽雄壮享誉中国，常年游人络绎不绝。“艺术作品来源于生活要高于生活”，正因为黄山本身太美，所以创作起来很难。本幅刺绣作品选取深秋初冬的黄山景色入绣，初雪、祥云是黄山最美的时节之一。图中山石用较粕的交叉针来绣制，以表现山石的质感；而云雾则用较细的线色绣制，来表现云雾之飘渺。粗细结合起到很好的对比效果，而少量的冷色调加强了画面对比效果。由于层层用线看加，使得刺绣作品有一定的厚度，所以看起来此幅作品相比摄影作品更具真实感。</p>
            <a href="/">返回首页</a>
        </div>
    </main>
</body>
</html>

